// ================= Login ===============
.login__background {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(102, 102, 219);
  overflow: hidden;
}

.login__form {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $card-bg-dark;
  padding: 7.2rem 4.8rem;
  border-radius: 1.2rem 4.5rem 1.2rem 4.5rem;
}

.login__title {
  font-size: clamp(2.4rem, 3vw, 3.2rem);
  color: $text-light;
  letter-spacing: 0.4rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

.login__lb {
  color: $text-light;
  margin-bottom: 0.8rem;
}

.login__inp {
  margin-bottom: 1.6rem;
  padding: 1.2rem 2.4rem;
  border-radius: 2.4rem;
  background-color: transparent;
  border: 1px solid $text-light;
  outline: none;
}

.login__submit {
  @include Button-style($color-sub-primary, $color-shadow, $color-hover);
  align-self: center;
  padding: 0.8rem 4.8rem;
}

.login__signup-text {
  margin-top: 1.4rem;
  text-align: center;
  color: #fff;
  a {
    color: rgb(68, 68, 228);
    &:hover {
      text-decoration: underline;
    }
  }
}

.login__close {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(68, 68, 228);
  border-bottom: 1px solid rgb(68, 68, 228);
  border-right: 1px solid rgb(68, 68, 228);
  width: 5rem;
  height: 5rem;
  @include center-flex();
  border-radius: 1.2rem 0 1.2rem 0;
  color: #fff;
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
