// ========================== Footer =================
.footer {
  padding: 7rem;
  background-color: #000;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__logo {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: $text-light;
    font-weight: bold;
  }

  &__title {
    margin-top: 1.2rem;
    color: $text-light;
    letter-spacing: 0.2rem;
  }

  &__title-link {
    font-size: 1.8rem;
    color: $text-light;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__list-item {
    margin-top: 0.8rem;
  }

  &__item-link {
    font-size: 1.4rem;
    color: $text-light;
    margin-top: 1.4rem;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  &__address {
    font-size: 1.4rem;
    color: $text-light;
    margin-top: 2.2rem;
  }

  &__phone {
    font-size: 1.4rem;
    color: $text-light;
    margin-top: 1.4rem;
  }

  &__email {
    font-size: 1.4rem;
    color: $text-light;
    margin-top: 1.4rem;
  }

  &__social-icons {
    margin-top: 1.4rem;
    display: flex;
    gap: 1.2rem;
  }

  &__social-item {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid $text-light;
    @include center-flex();
    color: $text-light;
  }

  &__social-face,
  &__social-ins,
  &__social-tik {
    transition: all 0.3s linear;
  }

  &__social-face:hover {
    background-color: #1877f2;
  }

  &__social-ins:hover {
    background-color: #dd2a7b;
  }

  &__social-tik:hover {
    background-color: #010101;
  }
}

.copyright {
  background-color: $color-sub-primary;
  padding: 2rem;
  color: $text-light;
  font-size: 1.8rem;
  text-align: center;
}

@media (max-width: 767px) {
  .footer__col {
    margin-bottom: 3.8rem;
  }
}
