@mixin Button-style($bg-color, $bg-color-hover, $text-color) {
  font-size: clamp(1.2rem, 1.2vw, 1.6rem);
  line-height: 1.4;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 2.4rem;
  background-color: $bg-color;
  color: $text-color;
  box-shadow: 0 0 20px $bg-color;
  transition: all 0.3s linear;
  margin-top: 2.4rem;
  &:hover {
    opacity: 0.8;
    background-color: $bg-color-hover;
  }
}

@mixin Content-padding($ct-pd: 2rem) {
  padding: $ct-pd;
}

@mixin Title-style($text-light) {
  font-size: clamp(2.2rem, 4vw, 3.6rem);
  line-height: 1.25;
  font-weight: bold;
  color: $text-light;
  margin-bottom: 8rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.4rem;
}

@mixin center-flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
