/* ================== SPORT SECTION ================= */

.sport {
  margin: 8rem 0;

  &__title {
    @include Title-style($text-light);
  }

  &__list {
    display: flex;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    flex: 0 0 calc(33.33% - 3rem);
    min-width: 20rem;
    height: 40rem;
    overflow: hidden;
    border-radius: 2.4rem;

    .sport__image {
      position: absolute;
      inset: 0;
      z-index: 1;
      transition: all 0.3s linear;

      .sport__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }
    }

    .featured__detail-none {
      display: none;
    }

    .sport__content {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: $color-sub-primary;
      text-align: center;
      transition: all 0.3s linear;

      &-title {
        font-size: 3.2rem;
        font-weight: bold;
        color: #fff;
        margin: 16rem 0 1.2rem;
      }

      .sport__detail {
        color: #fff;
      }
    }

    &:hover {
      .sport__content {
        height: 70%;
        border-radius: 2.4rem 2.4rem 0 0;
      }

      .sport__image {
        transform-origin: top;
        border-radius: 2.4rem;
        transform: scale(0.6);
      }
    }
  }
}

/* ========== TABLET (<=1024px) ========== */
@media (max-width: 1024px) {
  .sport {
    &__item {
      .sport__image .sport__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .sport__content {
        height: auto;
        bottom: 3rem;
        width: 100%;
        background-color: transparent;
        z-index: 2;

        &-title {
          margin-top: 0;
          font-size: 3.2rem;
          font-weight: bold;
          color: #fff;
        }

        .sport__detail {
          color: #fff;
        }
      }

      &:hover {
        .sport__content {
          height: auto;
          border-radius: 0;
        }

        .sport__image {
          transform: none;
        }
      }
    }
  }
}

/* ========== MOBILE (<=768px) ========== */
@media (max-width: 768px) {
  .sport__item {
    min-width: 35rem;
  }

  .collection {
    padding: 0 2.4rem;
  }
}
