// 1. Các file cơ bản (Variables và Mixins)
@import "variables";
@import "mixins";

// 2. Các file nền (Base/Global styles)
@import "base";

// 3. Các thành phần (Components)
@import "header";
@import "hero";
@import "products";
@import "featured";
@import "sport";
@import "collection";
@import "footer";
@import "register";

// 4. Các trang (Pages)
@import "auth";
@import "detail";
@import "contact";
