<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="icon" href="/images/logofile.png" type="image/x-icon" />
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/javascripts/lore.js"></script>
</html>