@mixin Button-style($color-sub-primary, $color-shadow, $color-hover) {
  font-size: clamp(1.2rem, 1.2vw, 1.6rem);
  line-height: 1.4;
  font-weight: 500;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 2.4rem;
  background-color: $color-sub-primary;
  color: #fff;
  box-shadow: 0 0 20px $color-shadow;
  transition: all 0.3s linear;
  margin-top: 2.4rem;
  &:hover {
    opacity: 0.8;
    background-color: $color-hover;
  }
}

@mixin Content-padding($ct-pd: 2rem) {
  padding: $ct-pd;
}

@mixin Title-style($text-light) {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 7.2rem;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 5px;
    height: 100%;
    background-color: $color-sub-primary;
  }
}

@mixin center-flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
